{% load static %}
<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>Black Raven Fashion</title>

            <!-- bootstrap css -->
            <link
                href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
                rel="stylesheet"
                integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
                crossorigin="anonymous" />
            <!-- Google Web Fonts -->
            <link rel="preconnect" href="https://fonts.gstatic.com" />
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
            <link
                href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
                rel="stylesheet" />

            <!-- customizes css -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <link href="{% static 'css/style.css' %}" rel="stylesheet" />
        </head>
        <body>
            {% comment %}forgot pasword{% endcomment %}
            <div class="section mt-5 pt-5">
                <div class="container-fluid bg-body-tertiary d-block">
                    <div class="row justify-content-center">
                        <div class="maincard col-12 col-md-6 col-lg-4">
                            <div class="card text-center border-0 p-5">
                                <h2 class="fw-bold pb-3 pt-3">Forgot password?</h2>
                                <p>Enter the E-mail or Mobile Number you
                                    registered</p>
                                {% csrf_token %}
                                <div class="otp-field pb-4 pt-3 flex-column">
                                    <input type="email" id="Email" name="Email" class="otpform w-75" placeholder="Enter Email" />
                                    <input type="text" id="Mobile" name="Mobile" class="otpform mt-2 w-75" placeholder="Mobile Number" />
                                </div>
                                <div class="div">
                                    <button type="submit"
                                        class="btn btn-primary rounded-pill mb-3 font-weight-semi-bold pt-2 pb-2 sendotp">
                                        Send OTP</button>
                                </div>
                                <p>
                                    Do not have account? <a
                                        href="{% url 'login' %}">Sign up</a>
                                </p>
                            </div>
                            {% comment %}forgot pasword end{% endcomment %}

                        </div>
                    </div>
                </div>
            </div>
            <script>
                document.querySelectorAll('.sendotp').forEach(button => {
                            button.addEventListener('click', function () {
                                var emailInput = document.querySelector('#Email');
                                console.log('Email Input:', emailInput);
                                var mobileInput = document.querySelector('#Mobile');
                                console.log('Mobile Input:', mobileInput);

                                var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                                if (emailInput.value || mobileInput.value) {
                                    // Define formdata
                                    var formdata = {
                                        'Email': emailInput.value,
                                        'Mobile': mobileInput.value
                                    };

                                    $.ajax({
                                        url: '/forgetpassword',
                                        method: 'POST',
                                        contentType: 'application/json',
                                        headers: {
                                            'X-CSRFToken': csrfToken
                                        },
                                        data: JSON.stringify(formdata),
                                        success: function (data) {
                                            if (data.Status) {
                                                window.location.href = data.redirect_url;
                                            } else {
                                                if (data.redirect_url) {
                                                    window.location.href = data.redirect_url;
                                                }
                                            }
                                        },
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            var errorMsg;
                                            if (jqXHR.responseText.startsWith('<!DOCTYPE')) {
                                                errorMsg = 'An unexpected error occurred on the server.';
                                            } else {
                                                errorMsg = JSON.parse(jqXHR.responseText);
                                            }
                                            alert('Error occurred: ' + errorMsg.Msg);
                                            if (errorMsg.redirect_url) {
                                                window.location.href = errorMsg.redirect_url;
                                            }
                                        }
                                    });
                                } else {
                                    alert('Please provide either an email or mobile number.');
                                }

                            });
                });
            </script>
        </body>
    </html>
