{% extends "basic.html" %}
{% block content %}


{% load static %}



    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-3">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Our Shop</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shop</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Shop Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-12">
                <!-- Price Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
                    <form>
                        <a href="{% url 'Shop' %}">All Product</a>
                        <br/>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-0_100">
                            <label class="custom-control-label" for="price-0_100">$0 - $100</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-100_200">
                            <label class="custom-control-label" for="price-100_200">$100 - $200</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-200_300">
                            <label class="custom-control-label" for="price-200_300">$200 - $300</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-300_400">
                            <label class="custom-control-label" for="price-300_400">$300 - $400</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-400_500">
                            <label class="custom-control-label" for="price-400_500">$400 - $500</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="price-500_">
                            <label class="custom-control-label" for="price-500_">$500 and above</label>
                            {% comment %} <span class="badge border font-weight-normal">168</span> {% endcomment %}
                        </div>
                        
                    </form>
                </div>
                
                <!-- Price End -->
                {% comment  %}
                <!-- Color Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Filter by color</h5>
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="color-all">
                            <label class="custom-control-label" for="price-all">All Color</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-1">
                            <label class="custom-control-label" for="color-1">Black</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-2">
                            <label class="custom-control-label" for="color-2">White</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-3">
                            <label class="custom-control-label" for="color-3">Red</label>
                            <span class="badge border font-weight-normal">246</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-4">
                            <label class="custom-control-label" for="color-4">Blue</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="color-5">
                            <label class="custom-control-label" for="color-5">Green</label>
                            <span class="badge border font-weight-normal">168</span>
                        </div>
                    </form>
                </div>
                <!-- Color End -->

                <!-- Size Start -->
                <div class="mb-5">
                    <h5 class="font-weight-semi-bold mb-4">Filter by size</h5>
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="size-all">
                            <label class="custom-control-label" for="size-all">All Size</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-1">
                            <label class="custom-control-label" for="size-1">XS</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-2">
                            <label class="custom-control-label" for="size-2">S</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-3">
                            <label class="custom-control-label" for="size-3">M</label>
                            <span class="badge border font-weight-normal">246</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-4">
                            <label class="custom-control-label" for="size-4">L</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="size-5">
                            <label class="custom-control-label" for="size-5">XL</label>
                            <span class="badge border font-weight-normal">168</span>
                        </div>
                    </form>
                </div>
                <!-- Size End -->
                {% endcomment %}
            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-12">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <form action="">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search by name">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-transparent text-primary">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% for product in products %}
                        {% csrf_token %}
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        <div class="card product-item border-0 mb-4">
                            <i id="wishlist-icon" class="far fa-heart wishlist-btn {% if product.p_id in wishlist_ids %}fas active{% else %}far{% endif %}" data-productid="{{ product.p_id }}"></i>
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <img class="img-fluid w-100" src="{{ product.Pro_Image.url }}" alt="">
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3">{{ product.Pro_Name }}</h6>
                                <div class="d-flex justify-content-center">
                                    <h6>{{ product.Pro_Price }}</h6>
                                    {% comment %} <h6 class="text-muted ml-2"><del>{{ product.Pro_Price}}</del></h6> {% endcomment %}
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="{% url 'detail' product.p_id %}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                <button class="btn btn-sm text-dark p-0 add-to-cart" data-pid="{{ product.p_id }}"><i class="fa fa-shopping-cart text-primary mr-1"></i> Add To Cart</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                   
                    <div class="col-12 pb-1">
                        <nav aria-label="Page navigation">
                          <ul class="pagination justify-content-center mb-3">
                            {% if products.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            {% endif %}
                            {% for i in products.paginator.page_range %}
                            <li class="page-item {% if products.number == i %}active{% endif %}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endfor %}
                            {% if products.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                            {% endif %}
                          </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script>
        $(document).ready(function() {
            $('input[type=checkbox]').on('change', function() {
                // Uncheck all other checkboxes
                $('input[type=checkbox]').not(this).prop('checked', false);
        
                // Get the selected price range
                var priceRange = $(this).attr('id').split('-')[1];
                var min_price = priceRange.split('_')[0];
                var max_price = priceRange.split('_')[1];
        
                // Send a GET request to the current URL with the selected price range as parameters
                window.location.href = window.location.pathname + '?min_price=' + min_price + '&max_price=' + max_price;
            });
        });
        
    </script>
    <script>
        document.querySelectorAll('.add-to-cart').forEach(button => {
            button.addEventListener('click', function() {
                var quantity = 1;
                var p_id = this.dataset.pid; 
        
                var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                var formdata = {
                    'p_id': p_id,
                    'Quantity': quantity
                };
                console.log(formdata);
                $.ajax({
                    url:'/add_to_cart',
                    method:'POST',
                    contentType:'application/json',
                    headers : {
                        'X-CSRFToken':csrfToken
                    },
                    data:JSON.stringify(formdata),
                    success:function(data){
                        if (data.Status) {
                            window.location.href = data.redirect_url;
                        } else {
                            if (data.redirect_url) {
                                window.location.href = data.redirect_url;
                            }
                        }
                    },
                    error: function(xhr, status, error) {
                        if (xhr.responseJSON) {
                            // If response is JSON, handle it
                            var errorMsg = xhr.responseJSON;
                            alert('Error occurred: ' + errorMsg.Msg);
                            if (errorMsg.redirect_url) {
                                window.location.href = errorMsg.redirect_url;
                            }
                        } else {
                            // If response is not JSON, handle it accordingly
                            console.error('Non-JSON response:', xhr.responseText);
                            // Handle non-JSON response appropriately
                        }
                    }
                    
                });
            });
        });

        document.querySelectorAll('.wishlist-btn').forEach(function(wishlistIcon) {
            wishlistIcon.addEventListener('click', function() {
                this.classList.toggle('far');
                this.classList.toggle('fas');
                this.classList.toggle('active');
                var productId = this.dataset.productid;

                $.ajax({
                  url: 'http://127.0.0.1:8000/toggle_wishlist',  // the endpoint
                  type: "POST", // http method
                  data: {
                      product_id: productId,
                      csrfmiddlewaretoken: '{{ csrf_token }}'
                  }, // data sent with the post request
      
                  // handle a successful response
                  success: function(json) {
                      console.log(json); // log the returned json to the console
                      if (!json.Status) {
                          window.location.href = json.redirect_url;  // redirect to login page if not logged in
                      }
                  },
      
                  // handle a non-successful response
                  error: function(xhr, errmsg, err) {
                      console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                  }
              });
            });
        });

        
    </script>
    {% endblock  %}